<!DOCTYPE html>
<html>
  <head>
    <title>About Us!</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <style>
      html {
        height: 100%;
      }

      body {
        height: 100%;
        background-image: url("https://scontent-lcy1-1.xx.fbcdn.net/v/t1.6435-9/94488141_1172991846382982_5427563263015518208_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=dd3_Sj_NBBkAX90fh7I&_nc_ht=scontent-lcy1-1.xx&oh=00_AfBHCuz6Jj-QBLHUjZgPgGuPj6_VG3FJe6DTuSKbrEvH_w&oe=643BE2F8");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Sono, monospace;
        color: red;
        text-align: center;
        width: 100%;
      }

      p {
        font-family: "Bebas Neue", monospace;
        font-size: 40px;
        margin-top: 50px;
      }

      a {
        font-family: "Bebas Neue", monospace;
        display: block;
        margin-top: 10px;
        color: yellow;
        font-size: 22px;
      }
    </style>
  </head>
  <body>
  <div>
  <div>
    <p>Hello! This project was created during week 5.</p>
    <p>The team was:</p>
        <p>Adnan Mann</p>
        <p>Fiona Wiggins</p>
        <p>Francesco Guglielmi</p>
        <p>Paul Lazar</p>
        <p>Sonjay Kumar</p><br>
    <p>Thank you!</p>
  </div>
    <a href="/space/all">Go back</a>
  </body>
</html>