<!DOCTYPE html>
<html>
    <head>
        <title>Confirmed!</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <p>You have successfully amended your property listing!</p>
        
    </body>
    <a href="/">Homepage</a>
</html>