<form action="/space/:id/edit" method="POST">
  <input type="text" name="property_name" placeholder="Property name" required><br>
  <input type="text" name="property_description" placeholder="Description" required><br>
  <input type="float" name="property_price" placeholder="Price per night" required><br><br>
  <!-- <input type="text" name="property_avail_date" placeholder="Date when available" required><br> NOT IN USE CURRENTLY -->
  <!-- <input type="text" name="property_status" placeholder="Available/Taken"><br> NOT IN USE CURRENTLY -->
  <!-- <input type="integer" name="owner_id" placeholder="Owner ID"><br><br> NOT IN USE CURRENTLY -->

  <input type="submit" value="Submit the form">
  <br><br>
  <a href="/space/all">Go back</a>
</form>