<style>
  body {
    background: linear-gradient(45deg, #946F09, #943009);
    font-size: 30px;
    font-family: Sono, monospace ;
    color: white;
}
</style>

<html>
<head></head>
<body>
<form action="/space/edit" method="POST">
  <input type="integer" name="id" placeholder="Property ID" required>
  <input type="text" name="property_name" placeholder="Update property name" required>
  <input type="submit" value="Edit">
  <br>
</form>

<form action="/space/edit" method="POST">
  <input type="integer" name="id" placeholder="Property ID" required>
  <input type="text" name="property_description" placeholder="Update description", required>
  <input type="submit" value="Edit">
  <br>
</form>

<form action="/space/edit" method="POST">
  <input type="integer" name="id" placeholder="Property ID" required>
  <input type="float" name="property_price" placeholder="Update price" required>
  <input type="submit" value="Edit">
  <br>
</form>

<a href="/space/all">Go back</a>
</body>
</html>