<!DOCTYPE html>
<style>
  html {
    height: 100%;
  }

  body {
    text-align: center;
    height: 100%;
    background: linear-gradient(45deg, #946F09, #943009); 
    font-size: 30px;
    font-family: Sono, monospace ;
    color: black;
}

h1 {
  font-size: 60px;
  color: #092E94;
  font-family: Lobster, monospace;
}

  a {
    color: black;
    font-size: 22px;
  }
</style>
<html>
  <head>
    <title>MakersBnB</title>
        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
             
        -->
        <link rel="stylesheet" href="/style.css" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Sono&display=swap" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="/log_out">
      <input type="submit" value="Log out">
    <form>
    <h1>Makersbnb</h1>
    <a href="/space/form">List a property</a> 
    <br><br>
    <a href="/space/all">View all available properties</a>
  </body>

</html>