<form action="/space/form" method="POST">
  <input type="text" name="property_name" placeholder="Property name"><br>
  <input type="text" name="property_description" placeholder="Description"><br>
  <input type="float" name="property_price" placeholder="Price per night"><br>
  <input type="text" name="property_avail_date" placeholder="Date when available"><br> <!-- here to use date instead of text? To test -->
  <input type="text" name="property_status" placeholder="Available/Taken"><br>
  <input type="integer" name="owner_id" placeholder="Owner ID"><br><br>

  <input type="submit" value="Submit the form">
  <br><br>
  <a href="/">Go back</a>
</form>
