<!DOCTYPE html>
<html>
    <head>
        <title>All available properties</title>

        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <p></p>
    </body>
    <a href="/">Go back</a>
</html>