  <!-- maybe a picture for each property? -->
  <!-- to add some "real data" for users, owners, properties in the DB-->
  <!-- to display the dates properly, not in array format (iterate and separate in boxes) -->

<!DOCTYPE html>
<html>
  <head>
    <title>Space Details</title>
    <style>
      html {
        height: 100%;
      }

      body {
        height: 100%;
        background: linear-gradient(45deg, #946F09, #943009);
        font-family: Sono, monospace;
        color: white;
        text-align: center;
      }

      h1 {
        font-size: 50px;
        margin-top: 50px;
      }

      p {
        font-size: 24px;
        margin-bottom: 10px;
      }

      a {
        color: black;
        font-size: 22px;
        margin-top: 20px;
      }
        table,tr,td{
        border: 1px solid #eee;
        border-collapse: collapse;
        padding: 0.5rem;
        
    }  
   
    </style>
  </head>
  <body>
    <h1><%=@space_name%></h1>
    <p><%=@space_description%></p>
    <p><%=@space_price%></p> 
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
             <th>Available Dates: </th>
            </tr>
         <%@dates[params[:id].to_i - 1].each do |date|%>
            <tr>
                <td><%=date%></td>
            </tr>
         <%end%>
        </table>
    <br>
    <a href="/space/all">Go back</a>
  </body>
</html>

