<html>
    <body>
        <h1><%=@space_name%></h1>
        <p><%=@space_description%></p>
        <p><%=@space_price%></p> 
        <p><%=@dates[params[:id].to_i - 1]%></p>
    </body>
    <br><a href="/space/all">Go back</a>
</html>