<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
  </head>
  <body>
    <h1>Account created successfully!</h1><br><br>
    <h3>Please now go to the <a href="/sign_in">sign in page</a></h3>
  </body>
</html>